<div class="row">
  <div class="col-12 text-center">
    <h5>Clicca su un elemento per modificarlo</h5>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <hr/>
  </div>
  
  <div class="col-4">
    <h4>Libri in biblioteca: </h4>
  </div>
  <div class="col-1">
    <h4>{{totali}}</h4>
  </div>
</div>
<div class="row">
    <div class="col-xs-10">
      <hr>
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let book of books; let i=index"
          (click)="onEditItem(i)"
        >
        {{ i+1 }} - {{ book.name }} ({{ book.author }})<br/>
        </a>
      </ul>
    </div>
  </div>

  <!--
  <div>
      <table>
      <tr class="row" *ngFor="let book of books; let i=index">
        <td class="col-4">{{ book.name }}</td>
        <td class="col-4">{{ book.author }}</td>
        <td class="col-4"><button class="btn btn-primary" (click)="onEditItem(i)">Modifica</button></td>
      </tr>
      </table>
  </div>
-->
<hr/>
  <app-book-item></app-book-item>
  